#idAlertBox{
    background-color: skyblue;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color:white;
    margin-bottom: 5px;
    display: inline-block;
    display:none;}

#passAlertBox {
    background-color: pink;
    padding:15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    color:white;
    display:inline-block;
    display: none;

}